div.tranbox{
  background-color: #6293ab;
  /* background-image: url(../images/image2.jpg); */
  opacity: 0.9;
  color: black;
  background-size: cover;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
div.tranbox p{
  font-weight: bold;
  color: #000000;
}

h1{
  text-align: center;
}

.frmbtn{
  float: center;
}

.formdiv{
  padding-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.basecontainer{
  margin-left: 20px;
  margin-right: 20px;
  height:380px;
  overflow-y: scroll;
  /* border-radius: 50px; */
}


.containerc {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 2px;
  margin: 5px 0;
  font-size: 10px;
}

.darker {
  border-color: #ccc;
  background-color: #81a6b9;
}

.containerc::after {
  content: "";
  clear: both;
  display: table;
}

.containerc img {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerc img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.containerc img.chatimage{
  float: left;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 2%;
}

.containerc img.chatimager{
  float: right;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 2%;
}

.time-right {
  float: right;
  color: #81a6b9;
  margin-right: 5px;
}

.time-left {
  float: left;
  color: #f1f1f1;
  margin-left: 5px;
}

.tinput{
  font-size: 20px;
}

div.loginformdiv{
  background-color: #f1f1f1;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50px;
}
