div.tranbox{
  background-color: #6293ab;
  /* background-image: url(../images/image2.jpg); */
  opacity: 0.9;
  color: black;
  background-size: cover;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
div.tranbox p{
  font-weight: bold;
  color: #000000;
}

h1{
  text-align: center;
}

.frmbtn{
  float: center;
}

.formdiv{
  padding-top: 10px;
}

.basecontainer{
  height:600px;
  overflow-y: scroll;
  /* border-radius: 50px; */
}
.containerc {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px;
  margin: 2px 0;
  font-size: 10px;
}

.darker {
  border-color: #ccc;
  background-color: #81a6b9;
}

.containerc::after {
  content: "";
  clear: both;
  display: table;
}

.containerc img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerc img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.tinput{
  font-size: 20px;
}
