<!DOCTYPE html>
{% extends 'smc_app/base.html' %}
{% block body_block %}
  <h1>Welcom to SMC</h1>
  <div class="basecontainer" id="messageBody">
    {% if chatdata %}
      {% for data in chatdata %}
        <div class=containerc>
          <p>{{ data.name }}</p>
          <p>{{ data.text }}</p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="formdiv">
    <form action="{% url 'smc_app:majju' %}" method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="form-group">
        <!-- <label for="Textinput" class="col-sm-1 col-form-label">Text</label> -->
        <input type="text" class="form-control" name="Textinput" id="Textinput" placeholder="Input your text here and press send">
        <!-- <button type="submit" class="btn btn-primary frmbtn col-sm-1">Send</button> -->
          <!-- <button type="submit" class="btn btn-primary frmbtn">Send</button> -->
          <!-- <input type="text" class="form-control" id="Textinput" placeholder="Input your text here and press send"> -->
      </div>
      <button type="submit" class="btn btn-primary frmbtn">Send</button>
    </form>
  </div>

  <script type="text/javascript">
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
  </script>

{% endblock %}
