<!DOCTYPE html>
{% extends 'smc_app/base.html' %}
{% load static %}
{% block body_block %}
  <div class="basecontainer" id="messageBody">
    {% if chatdata %}
      {% for data in chatdata %}

        {% if data.name == 'M' %}
          <div class="containerc">
            <p><img src="{% static 'images/M.png' %}" alt="M">
            <span style="font-size: 12px  ">{{ data.text }}</span></p>
          </div>
        {% else %}
         <div class="containerc darker">
           <p><img src="{% static 'images/S1.png' %}" alt="S" class="right">
             <span style="font-size: 12px; float: right;">{{ data.text }}</span></p>
          </div>
          {% endif %}
          <!-- <p></p>{{ data.text }} -->

      {% endfor %}
    {% endif %}
  </div>
  <div class="formdiv">
    <form action="{% url 'smc_app:majju' %}" method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-9">
          <input type="text" class="form-control" name="Textinput" id="Textinput" placeholder="TAB + Type + Enter">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary frmbtn">Send or Refresh</button>
        </div>
        <div class="col">
          <button type="submit" formaction="{% url 'smc_app:userlogout' %}" class="btn btn-primary frmbtn">Logout</button>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
  </script>

{% endblock %}
